

<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Editer le potin !</h1>

    <h1><%=params[:num_edit]%></h1>
    
    <form action='/gossipmodif/<%=gossip_numb%>/edit/' method='POST'>
        Edite l auteur :  <input type="text" name="gossip_author_updated"/><br/>
        Edite le contenu : <input type="text" name="gossip_content_updated"/><br/>
    <input type="submit"/>
  </form>

  </body>
</html>
