<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gossip Project</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
      *{
        color:rgb(29, 29, 29);;
        font-family:'Open Sans';
      }

      nav{
        margin:0;
      }

      ul{
        display:flex;
        justify-content:center;
        margin:0;
        padding:0;  
        font-size:20px;
      }

      li{
        list-style:none;
        margin-right:30px;
      }

      a:hover{
        color:rgb(203, 91, 125);
      }

      div{
      }

    </style>

  </head>
  <body>
  <header>
    <nav>
      <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/gossips/new/">Nouveau potin</a></li>
      </ul>
    </nav>
  </header> 
  <h1>Editer le potin n°<%=params[:num_edit]%></h1>
    <form action='/gossip/<%=gossip_numb%>/edit/' method='POST'>
        Editer l auteur :  <input type="text" name="gossip_author_updated"/><br/>
        Editer le contenu : <input type="text" name="gossip_content_updated"/><br/>
        <p>déso pour lortographe 😄</p>
      <input type="submit"/>
    </form>
  </body>
</html>
