<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gossip Project</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
      *{
        color:rgb(29, 29, 29);;
        font-family:'Open Sans';
      }

      nav{
        margin:0;
      }

      ul{
        display:flex;
        justify-content:center;
        margin:0;
        padding:0;  
        font-size:20px;
      }

      li{
        list-style:none;
        margin-right:30px;
      }

      a:hover{
        color:rgb(203, 91, 125);
      }

      div{
      }

      img {
        width:300px;
        height:auto;
      }

    </style>

  </head>

  <body>
  <header>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/gossips/new/">Nouveau potin</a></li>
    </ul>
  </nav>
</header>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= gossip_numb %></h2>
    <p>Son auteur : <%= ragots[gossip_numb.to_i-1].author %></p>
    <p>Le contenu du potin : <%= ragots[gossip_numb.to_i-1].content %></p>

    <a href="/">Revenir à la liste des gossips</a>

    <a href="/gossipmodif/<%= gossip_numb%>/edit/" style="display:block;">Editer ce potin</a>
  </body>

</html>



